<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1>253 Inventory App</h1>
      <table class="table table-hover">
        <tr>
          <th>Order Date</th>
          <th>Progress</th>
          <th>Order List</th>
          <th>Due Date</th>
          <th>Time Elasped</th>
        </tr>
        <tr><td>a</td></tr>
        <tr><td>b</td></tr>
      </table>
    </div>
  </div>
</div>